@inherits FomanticMessageBase


<div class=@MessageClassName>
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon icon"></i>
    }

    <div class="content">
        @if (Header != null)
        {
            <div class="header">
                @Header
            </div>
        }

        @ChildContent
    </div>
</div>