@inherits LoginBase
@page "/login"
@layout NoLayout

<div class="ui container two column centered grid mm-login">
    <div class="column">
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address"
                               @bind-value=Email
                               @bind-value:event="oninput"
                               @onkeypress=HandleKeyPress>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password"
                               @bind-value=Password
                               @bind-value:event="oninput"
                               @onkeypress=HandleKeyPress>
                    </div>
                </div>
                <FomanticButton Emphasis=ButtonEmphasisEnum.Primary
                                IsFluid=true
                                OnClick=HandleLoginClick
                                IsDisabled=!CanLogin>Login</FomanticButton>
            </div>
        </form>
    </div>
</div>
