@inherits LayoutComponentBase

    <NavMenu />

<div class="ui main container">

    <MessageComponent></MessageComponent>

    <div class="ui segment">
        @Body
    </div>
</div>

<FomanticModal></FomanticModal>
