@inherits FomanticModalBase


<div class=@DimmerClassName>
    @if (IsVisible)
    {
        <div class="ui mini modal active visible">
            <div class="header">
                @Options!.Header
            </div>

            <div class="content">
                @((MarkupString)Options!.Content)
            </div>

            <div class="actions">
                <FomanticButton Emphasis=EmphasisEnum.Negative
                                OnClick=HandleNoClick>
                    No
                </FomanticButton>
                <FomanticButton Emphasis=EmphasisEnum.Positive
                                IsLoading=IsActionLoading
                                OnClick=HandleYesClick>
                    Yes
                </FomanticButton>
            </div>
        </div>
    }

</div>