@inherits EditCategoryBase
@page "/categories/create"
@page "/categories/{CategoryId:int}/edit"
@using MoneyManager.Models.Domain;
@attribute [Authorize]



@if (IsNew)
{
    <h1 class="ui header">Create category</h1>
}
else
{
    <h1 class="ui header">Edit category</h1>
}

<EditForm class="ui form"
          Model=FormModel
          OnValidSubmit=HandleValidSubmit
          Context=editContext>

    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    @if (IsLoading)
    {
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
    }
    


    <div class="field required @(IsFormValidString(editContext, () => FormModel.Name))">
        <label>Name</label>
        <InputText @bind-Value=FormModel.Name></InputText>
    </div>

    <button class="ui primary button @(IsSaving ? "loading" : "")"
            type="submit">
        @(IsNew ? "Create" : "Save")
    </button>

</EditForm>